@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:
            linear-gradient(167deg, rgb(253, 231, 193) 0%, rgba(255, 255, 255, 1) 32%, rgba(255, 255, 255, 1) 64%, rgba(255, 220, 182, 1) 100%)
            no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

.overlay{
    border-radius: 30px 70px 30px 70px;
    top: 0;
    left: 0;
    width: 320px;
    height: 190px;
    background: rgba(53, 51, 51, 0.33);

}
.bg{
    height: 800px;
}
.input-search{
    width: 500px;
}
.border-radius {
    border-radius: 30px 70px 30px 70px;
}

